{% extends 'std_layout.html' %}
{% block content %}

<table border="1">
       <tr> <th>Dersler</th>
        <th>AKTS</th>
        <th>Akademisyen</th>
    </tr>
    <tr>
        <td>Algorithm</td>
        <td>6</td>
        <td>Sedat Bilgili</td>
    </tr>
    <tr>
        <td>Software Project Development</td>
        <td>6</td>
        <td>Yasir Kılıç</td>
    </tr>
    <tr>
        <td>Logic Design</td>
        <td>5</td>
        <td>Barış Dinç</td>
    </tr>
    <tr>
        <td>Data Structures</td>
        <td>6</td>
        <td>Ümit Kılıç</td>
    </tr>
    <tr>
        <td>Operations System</td>
        <td>6</td>
        <td>Burak Sayar</td>
    </tr>
    <tr>
        <td>Calculus</td>
        <td>7</td>
        <td>Burak Sayar</td>
    </tr>
    </table>



{% endblock %}